<%- include("partials/header.ejs") %>
<div class="container" id="page-content">
  <div class="col-md-12 justify-content-center">
    <div class="card px-3">
      <div class="card-body">
        <h4 class="card-title">To-do List App</h4>
        <form class="add-items d-flex" action="/addWork" method="post">
          <input
            type="text"
            class="form-control todo-list-input"
            name="taskWork"
            placeholder="Write a new work to do..."
          />
          <button
            class="add btn btn-primary font-weight-bold todo-list-add-btn"
            type="submit"
            value="ok"
          >
            Add
          </button>
        </form>
        <div class="list-wrapper">
          <ul class="d-flex flex-column-reverse todo-list">
            <% todoList.forEach(todoW => { %>
            <li class="border-bottom border-primary">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="checkbox"
                    type="checkbox"
                    name="todoW"
                    value="<%= todoW.id %>"
                    onclick="deleteWork('<%= todoW.id %>')"
                  />
                </label>
              </div>
              <div class="task">
                <p><%= todoW.task %></p>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    function deleteWork(todoWorkId) {
      fetch(`/deleteWork/${todoWorkId}`, { method: "DELETE" })
        .then(() => window.location.reload())
        .catch((err) =>
          console.error("An error occurred during the deletion process:", err)
        );
    }
  </script>
</div>
<%- include("partials/footer.ejs") %>
